// for real low level basic project definitions such as resets and html styles they should also be partials that is they should start with an underscore
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 
html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
}